<%= render 'layouts/errors', object: @sentence %>

<hr>
<div class="sentence-list-item">
  <div class="media">
    <div class="media-left">
      <%= image_tag @sentence_image.filename, class: 'media-object sentence-image' %>
    </div>
    <div class="media-body">
      <%= form_for [@story, @sentence], html: {class: 'form-horizontal'} do |f| %>
        <%= f.hidden_field(:image_id, value: @sentence_image.id) %>
        <blockquote>
          <%= f.label :content, 'Your sentence should be inspired by the image at the left.', class: 'control-label' %>
          <%= f.text_area :content, class: 'form-control', placeholder: 'Write your sentence!' %>

          <%= f.label :author, class: 'control-label' %>
          <%= f.text_field :author, class: 'form-control', placeholder: 'Your Name' %>

          <br>
          <%= f.submit class: 'btn btn-success btn-block', id: 'submit-sentence' %>
          <br>
          <%= link_to 'Return to Story', @story %>
        </blockquote>
      <% end %>
    </div>
  </div>
</div>
<hr>
