<div class="jumbotron">
  <h2>One sentence at a time...</h2>
  <p>
    a new story is written by you and all of your friends.
  </p>
  <%= link_to new_story_path, id: 'new-story' do %>
    <button class="btn btn-success btn-block">Start a New Adventure</button>
  <% end %>
</div>

<% if @stories.any? %>
  <div class="page-header">
    <h4>Add to an Adventure</h4>
  </div>

  <% @stories.each do |story| %>
    <%= link_to story, class: 'story-list-item' do %>

      <div class="media">
        <div class="media-left">
          <%= image_tag story.image.filename, class: 'media-object story-image' %>
        </div>
        <div class="media-body">
          <h3 class="media-heading">"<%= story.title %>"</h3>
          <blockquote>
            <p >
              <%= story.first_sentence.content %> ...
            </p>
            <footer>
              <%= story.author %>
            </footer>
          </blockquote>


        </div>
      </div>

    <% end %>
  <% end %>
<% end %>
