<h1><%= @story.title %></h1>
<% if @story.sentences.any? %>
  <% @story.sentences.each do |sentence| %>
    <p>
      <%= sentence.content %>
    </p>
    <p>
      -- <%= sentence.author %>
    </p>
    <p>
      <%= link_to 'Edit', edit_story_sentence_path(@story, sentence) %>
    </p>
  <% end %>
<% else %>
  <p>
    Something was wrong with your sentence and it didn't save! :-(
  </p>
<% end %>

<%= link_to 'Edit Story Prompt', edit_story_path(@story) %>
<%= link_to 'Add a Sentence', new_story_sentence_path(@story) %>
