<div class="page-header">
  <h1><span class="title"><%= story.title %></span> <small>a story by <%= story.author %> and friends</small></h1>
  <ul class="nav nav-pills">
    <!-- modal trigger -->
    <li><a href="#" data-toggle="modal" data-target="#storyModal">Launch Story</a></li>
    <li><%= link_to 'Edit Story Title', edit_story_path(story) %></li>
    <li><%= link_to 'Delete Story', story_path(story),
    data: { confirm: 'You sure?',
      method: 'delete'}%></li>
    </ul>
</div>

<% sentences.each do |sentence| %>
  <%= render 'layouts/sentence_list_item', sentence: sentence, small: small %>
<% end %>

<!-- Modal -->
<div class="modal fade" id="storyModal" tabindex="-1" role="dialog" aria-labelledby="storyModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h1 class="modal-title" id="storyModalLabel"><%= story.title %></h1>
      </div>
      <div class="modal-body">
        <!-- Carousel -->
        <div id="story-carousel" class="carousel slide" data-ride="carousel" data-interval=4000 pause="hover">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <% sentences.length.times do |index| %>
            <li data-target="#story-carousel" data-slide-to="<%= index %>" class="<%= 'active' if index == 0 %>"></li>
          <% end %>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <% sentences.each do |sentence| %>
            <div class="row item <%= 'active' if sentence == story.first_sentence %>">
              <div class="carousel-image">
                <%= image_tag sentence.image.filename, class: "sentence-image" %>
              </div>
              <div class="carousel-sentence">
                <%= sentence.content %>
              </div>
            </div>
          <% end %>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#story-carousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#story-carousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      </div>
      <div class="modal-footer">
        a story by <%= story.author %> and friends
      </div>
    </div>
  </div>
</div>
