<!DOCTYPE html>
<html>
<head>
  <title>StoryTime</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <%= link_to 'The Adventurator', '/', class: 'navbar-brand' %>
  </div>
</div>

<div class="container">
  <% if flash[:alert] %>
    <div class="alert alert-warning" role="alert">
      <%= flash[:alert] %>
    </div>
  <% end %>
  <% if flash[:notice] %>
    <div class="alert alert-success" role="alert">
      <%= flash[:notice] %>
    </div>
  <% end %>

  <%= yield %>
</div>

<div class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <p class="navbar-text">
      Icons by <a href="https://icons8.com/" class="navbar-link">icons8</a>
    </p>
  </div>
</div>

</body>
</html>
