<!DOCTYPE html>
<html>
<head>
  <title>Adventurator</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <%= link_to 'THE ADVENTURATOR', '/', class: 'navbar-brand' %>

    <%= form_tag(search_stories_path, method: "get", class: 'navbar-form navbar-right') do %>
      <div class="form-group">
        <%= text_field_tag(:q, nil, placeholder: 'Find a Story', class: 'form-control') %>
        <%= submit_tag("Go", class: "btn btn-default") %>
      </div>
    <% end %>
  </div>
</div>

<div class="container">
  <% if flash[:alert] %>
    <div class="alert alert-warning" role="alert">
      <%= flash[:alert] %>
    </div>
  <% end %>
  <% if flash[:notice] %>
    <div class="alert alert-success" role="alert">
      <%= flash[:notice] %>
    </div>
  <% end %>

  <%= yield %>
</div>

<div class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <p class="navbar-text">
      Icons by <a href="https://icons8.com/" class="navbar-link">icons8</a>
    </p>
  </div>
</div>

</body>
</html>
